// In `sass/main.scss`
@import 'mixin';
@import 'sanitize';
@import 'pagepiling';
@import 'burger';
@import 'magnific-popup';
@import 'slick';

// variables
$font-title: Arial, sans-serif; 
$font-copy: Helvetica, Arial, sans-serif;

$black: #231f20;
$white: #fff;
$pink: #d8b3c4;

html, body { height: 100%; margin: 0; padding: 0; background-color: #000; }

/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */
header.main {
	position: fixed;
	top: 28px;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	z-index: 300;
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;

	.logo {
		max-width: 70%;
		padding-left: 10%;
		height: auto;
		display: none;
		@include bp-mobile {
			padding-left: 0;
		}
	}
}

.menu-toggle {
	cursor: pointer;
	width: 70px;
	height: 50px;
	float: left;
	display: block;
	padding: 16px 10px 15px 0;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 350;
	@include bp-tablet {
		top: 28px;
		left: 30px;
		display: none;
	}
	div {
		@include burger(23px, 2px, 7px, #fff);
	}
	&.is-active div {
		@include burger-to-cross(#fff);
	}
}

.menu-section {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 200;
	background-color: #000;
	display: none;
	&.is-open {
		display: block;
	}
	
	.menu-content {
		padding-top: 100px;
		@include bp-tablet {
			padding-top: 14vh;
		}
	}
	ul {
		width: 60%;
		margin: 0 auto;
		text-align: center;
		position: relative;
		li {
			display: block;
			padding: 0;
			margin: 0;
			@include bp-tablet {
				height: 50px;
				position: absolute;
				&.s1 {
					top: 0;
					left: calc(50% - 81px);
				}
				&.s2 {
					top: 60px;
					left: calc(75% - 81px);
				}
				&.s3 {
					top: 145px;
					left: calc(90% - 81px);
				}
				&.s4 {
					top: 240px;
					left: calc(90% - 81px);
				}
				&.s5 {
					top: 310px;
					left: calc(75% - 81px);
				}
				&.s6 {
					top: 370px;
					left: calc(50% - 81px);
				}
				&.s7 {
					top: 310px;
					left: calc(25% - 81px);
				}
				&.s8 {
					top: 240px;
					left: calc(10% - 81px);
				}
				&.s9 {
					top: 145px;
					left: calc(10% - 81px);
				}
				&.s10 {
					top: 60px;
					left: calc(25% - 81px);
				}

				&.active {
					a {
						background: url(../images/circle.png) no-repeat;
						background-size: 100%;
					}
				}
			}
			&.active {
				a {
					text-decoration: underline;
					@include bp-tablet {
						text-decoration: none;
					}
				}
			}
			a {
				color: #fff;
				display: block;
				text-align: center;
				font-size: 90%;
				width: 50%;
				float: left;
				text-align: center;
				@include bp-tablet {
					width: 100%;
					font-size: 100%;
					width: 143px;
					height: 106px;
				}
				span {
					display: block;
					@include bp-tablet {
						padding-top: 35px;
					}	
				}

				&:hover {
					text-decoration: underline;
					@include bp-tablet {
						text-decoration: none;
						background: url(../images/circle.png) no-repeat;
						background-size: 100%;
					}
				}
			}
		}
	}
}

.content.main {
	&.opa {
		opacity: 0;
	}
	padding: 0;
	margin: 0 auto;
	color: #fff;
	@include font-size(12px);
	line-height: 1.5;
	font-family: $font-copy;
	font-weight: 400;
	font-weight: normal;
	text-align: center;
	height: 100%;
	strong {
		font-weight: 600;
	}

	h1,h2,h3,h4 {
		text-transform: uppercase;
		line-height: 100%;
		margin: 0;
		font-weight: bold;
	}
	a {
		text-decoration: none;
	}
	p {
		margin: 0;
	}
	img {
		height: auto;
		max-width: 100%;
	}
	hr {
		display: block;
		width: 100%;
		clear: both;
	}
	section {
		text-align: center;
		position: relative;		
	}

	.slide-gallery {
		text-align: center;
		padding-top: 5vh;
		max-width: 90%;
		@include bp-tablet {
			margin-left: auto !important;
			margin-right: auto !important;
		}

		figure, .figure_bis {
			display: inline-block;
			// float: left;
			width: 100%;
			position: relative;

			&.files {
				a {
					&:before {
						content: "";
						display: block;
						background: url(../images/files.svg);
						width: 15px;
						height: 15px;
						background-size: 15px 15px;
						position: absolute;
						top: 6px;
						left: 6px;
						opacity: 1;
						transition: opacity 150ms ease;
					}
				}
			}
			a {
				position: relative;
				display: block;
				padding: 2px;
				&:after {
					content: "";
					display: block;
					background: url(../images/cross.svg);
					width: 15px;
					height: 15px;
					background-size: 15px 15px;
					position: absolute;
					right: 6px;
					top: 6px;
					opacity: 0.3;
					transition: opacity 150ms ease;
				}
				&:hover {
					&:after {
						opacity: 1;
					}
					.caption {
						background-color: rgba(0,0,0,0.6);
					}
				}
			}
			@include bp-tablet {
				width: 33%;
				&.clear {
					&:after {
						display: block;
					}
					clear: both;
				}
			}
			img {
				display: block;
			}
		}
		.figure_bis {
			display: none;
			@include bp-tablet {
				display: block;
			}
		}

		&.slider {
			margin-left: auto;
			margin-right: auto;
			width: 90%;
			margin-left: 5%;

			@include bp-tablet {
				width: 100%;
				margin-left: 0;
				padding-top: 0;
			}
		}

		.x4 {
			@include bp-tablet {
				width: 50%;
			}
		}


	}

	.section {
		background-color: #000;
		height: 100%;
		width: 100%;

		.title {
			padding: 0 40px;
			// position: absolute;
			// top: 50px;
			// width: 100%;
			img {
				width: 100%;
				transition: all 150ms ease-in-out;
				@include bp-tablet {
					max-width: 450px;
				}
				@include bp-desktop-large {
					max-width: 550px;
				}
				@include bp-desktop-xlarge {
					max-width: 779px;
				}
			}
			&.intro {
				img {
					@include bp-tablet {
						max-width: 779px;
					}
					@include bp-desktop-large {
						max-width: 779px;
					}
					@include bp-desktop-xlarge {
						max-width: 779px;
					}
				}
			}
			img {
				-moz-user-select: -moz-none;
				-khtml-user-select: none;
				-webkit-user-select: none;
				-o-user-select: none;
				user-select: none; 
			}
		}

		.container {
			padding-top: 10vh;
			width: 100%;
			height: 100%;
			@include bp-tablet {
				padding-top: 0;
				display: table;
			}
			&.image {
				padding-top: 0;
				img {
					max-height: 90vh;
				}
			}
		}
		.container_center {
			@include bp-tablet {
				display: table-cell;
				vertical-align: middle;
				width: 100%;
				height: 100%;
			}
		}

		
	}
}


// lightbox
.mfp-counter {
	display: none;
}

// page pilling
#pp-nav {
	display: none;
	@include bp-tablet {
		display: block;
	}
}


.slick-slide, .slick-arrow, button {
	outline: none;
	&:focus, &:active {
		outline: none;
	}
}
.slick-dots {
	position: absolute;
	bottom: -40px;
	left: 0;
	right: 0;
	text-align: center;
	li {
		outline: none;
		cursor: pointer;
		display: inline-block !important;
		margin: 0 7px !important;
		width: 10px;
		margin-left: auto;
		margin-right: auto;
		transition: all 100ms ease-in-out;
		position: relative;

		button {
			text-indent: -999em;
			border-radius: 50%;
			border-radius: 50%;
			width: 10px;
			height: 10px;
			background-color: #9d9d9c;
			overflow: hidden;
			cursor: pointer;
		}
		&:hover, &.slick-active {
			button {
				background-color: #fff;
				color: #fff;
			}
		}
	}
}
.slick-arrow {
	position: absolute;
	top: 50%;
	bottom: 0;
	text-align: center;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	z-index: 100;
	opacity: 1;
	transition: opacity 300ms ease-in-out;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
	&.slick-prev, &.slick-next {
		background-repeat: no-repeat;
		padding-top: 8px;
		padding-right: 2px;
		font-size: 80%;
		span {
			position: relative;
		}
		// @extend .icon-octogon;
		i {
			position: relative;
			z-index: 10;
			font-size: 150%;
			display: block;
			top: -7px;
		}
		&:after {
			font-size: 250%;
			color: white;
			position: absolute;
			top: 0;	
			left: 0;
			z-index: 5;
		}
		&:hover {
			i {
				color: #fff;
			}
			&:after {
				color: #fff;
			}
		}
	}
	&.slick-prev {
		left: -40px;
		@include bp-desktop {
			left: -60px;
		}
	}
	&.slick-next {
		right: -40px;
		@include bp-desktop {
			right: -60px;
		}
	}
}

// video
.videoWrapper {
	max-width: 80%;
	margin-left: 10%;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	// padding-top: 25px;
	// height: 268px;
	@include bp-desktop {
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
		height: 520px;
		padding-bottom: 0;
	}
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


// pw
aside {	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	z-index: 2000;
	.container {
		display: table;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	.container_center {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 100%;

		input {
			border: 1px solid #fff;
			padding: 5px;
			color: white;
			display: inline-block;
			outline: none;
		}
		.error {
			border: 1px solid red;
		}
		input[type="submit"] {
			text-transform: uppercase;
			font-size: 100%;
			color: white;
			cursor: pointer;
			padding-left: 15px;
			padding-right: 15px;
			&:hover {
				background-color: #fff;
				color: #000;
			}
		}
	}
}