#video-compare-container {
    display: block;
    line-height: 0;
}
#videoMerge, #videoUI { 
    width: 100%;
    display: block;
    margin: 0 auto;
    background: url("videoa.png");
    background-size: cover;
}
#videoUI {
    font-family: Helvetica Neue Regular, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    background: black;
    
}
#videoUI button {
    padding: 1rem;
    position: absolute;
    right: 0px; 
    font-weight: 400;
    font-size: 1.3rem;
    border: none;
    background: black;
    cursor: pointer;
    outline: none;
    color: grey;
}
#videoUI button:hover {
    background: black;
    color: white;
}
body {
    background-color: black;
}